.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; }
    .div2 { grid-area: 7 / 1 / 9 / 4; }
    .div3 { grid-area: 2 / 1 / 4 / 4; }
    .div4 { grid-area: 4 / 1 / 7 / 4; }