.contenedor{
    background-color: grey;
    display: flex;
}

.item{
    width: 50px;
    height: 50px;
    margin: 10px;
    color: white;
    font-size: 32px;
    text-align: center;
    line-height: 50px;
}
.item-1{
    background-color: navy;

}
.item-2{
    background-color: blue;

}
.item-3{
    background-color: steelblue;

}